/* Variables */

:root {
  --primary: black;
  --ff: 'futura-pt-book';
}

* {
  margin: 0%;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(56, 56, 53);
  /* font-family: var(--ff); */
}
.message {
  width: 100%;
  height: 40px;
  background-color: black;
}

/* navigation */


/* Slider */
.slider {
  /* background-color: rgb(168, 168, 168); */
  background-image: url('../images/big-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}

/* big image */
/* main {
  width: 100%;
  height: 100%;
} */
.big-img {
  background-color: whitesmoke;
  margin: 25px;
  height: 500px;
}

/* Image container */

.showcase_img {
  border: 2px black solid;
}

/* shop by category  */

/* /////////// highlight ///////////// */
.high {
  border: 1px black solid;
}

/* Black strip */
.black_strip {
  height: 100px;
  background-color: black;
  margin: 40px 0px;
}

.end_credits {
  height: 400px;
}
